.font-title{
    font-family:'Barlow Condensed', sans-serif;
    font-size: 45px;
}

.font-caption{
    font-family:'Barlow Condensed', sans-serif;
    font-size: 35px;
}

.font-text{
    font-family:'Barlow Condensed', sans-serif;
    font-size: 20px;
}
/*Done font*/
.imm:hover  {
    -webkit-box-shadow: 0 0 20px 0 rgba(36, 54, 255, 0.2);
    box-shadow: 0 0 8px 0 rgba(36, 54, 255, 0.2);
}
.navbar {
    /*background-image: url(../image/banner/banner-home2.png);*/
    background-color: white;
}
.nav-item {
    position: relative;
}
.nav-item a {
    font-size: 20px;
    color: black;
    font-family: 'Lato', sans-serif;
    margin: 0px 15px 0px 15px;
}
.nav-item a:hover {
    color: black;
}

.navbar ul li a.nav-link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    content: '';
    opacity: 0;
    -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-collapse ul li:hover a.nav-link:before {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    bottom: 0px;
    background: black;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu {
    border: 0px;
    background-color: white;
}

.hr-banner-home{
    size: 2px;
}

.white-back{
    height:100%;
}

/*nav--jqery*/
.navbar-scroll {
    background: white;
    padding: 0;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.4);
    transition-duration: 0.6s;
}
.nav-dropdown-scroll {
    background: black;
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

/*done basic*/

.banner{
    margin-top: 60px ;
}
.banner-one{

    height: 400px;

    display: flex;

}

.banner-two{
    height: auto;
    width: 80%;
    margin: auto;
}

.banner-text1{
    text-align: center;
    font-family:'Barlow Condensed', sans-serif;
    font-size: 60px;
}

.banner-text2{
    text-align: center;
    font-family:'Barlow Condensed', sans-serif;
    margin: 2px auto;
    display: block;
}
.imm{
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: 2px solid #fafafa;
}


.color{
    background-color: white;
    margin-top: 50px;
}


/*hover image*/
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.hovereffect:hover img {
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}



.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: white;

}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.font-caption a {
    text-decoration: none;
    color: #030407;
}
.font-caption a:hover {
    color: #007afe;
}